.container {
    display: flex; justify-content: center;
    max-width: 800px;
}

p {
    font-size: x-large;
    text-align: justify;
    color: var(--paragraph-color);
    font-family: 'Poppins', sans-serif;
}

.bio-image {
    padding: 1rem;
    display: flex;
    border-radius: 50px;
}

.bio-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit,
        minmax(min(25rem, 100%), 1fr));
}

/* @media (max-width: 800px) {
    .bio-image {
        display: block;
        padding: 1rem;
        scale: 70%;
    }
} */