p {
    font-size: x-large;
    text-align: justify;
    color: var(--paragraph-color);
    font-family: 'Poppins', sans-serif;
}

.bio-image {
    display: block;
    border-radius: 50px;
    scale: 50%;
}
