html, body{
    height: 100%;
    margin:0;
    padding:0;
	background-color: rgb(50, 50, 50);
}

div {
    position:relative;
    height: 100%;
    width: 100%;
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}

h1{
	font-family: "Arial";
	font-size: 48;
	color: rgb(220, 220, 220);
}