@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to right,
    rgb(0, 0, 20),
    rgb(0, 0, 50),
    rgb(0, 0, 20)
  );
}

body {
  @include background();
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;

  //font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  background: linear-gradient(
    to right,
    rgb(0, 0, 20),
    rgb(0, 0, 50),
    rgb(0, 0, 20)
  );
}

// Headings
h1 {
  font-size: 4rem;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 300;
}
h3 {
  font-size: 2rem;
  font-weight: 200;
}
h4 {
  font-size: 1.5rem;
  font-weight: 200;
}
h5 {
  font-size: 1rem;
  font-weight: 200;
}

h6 {
  margin: 0;
  font-weight: 400;

  & .lg-heading {
    font-size: 12rem;
  }

  & .sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

p {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

ul {
  display: block;
  list-style-type: disc;
  font-size: 1.5rem;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2rem;
  margin-right: 0;
  padding-left: 1rem;
}

a {
  color: white;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%;
  min-height: calc(100vh - 60x);

  .icons {
    margin-top: 2rem;
    a {
      padding: 0.5rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio bio'
    'work_exp work_exp work_exp work_exp'
    'job0 job0 job1 job1'
    'job2 job2 job3 job3';
  grid-template-columns: repeat(4, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin-top: 4rem;
    border-radius: 50%;
    border: $secondary-color 1px solid;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    margin-top: 4rem;
  }

  .work-exp {
    grid-area: work_exp;
    font-size: 2rem;
    margin-top: 2rem;
  }

  .job-0 {
    grid-area: job0;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job-4 {
    grid-area: job4;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

.company-image {
  margin: auto;
  border: $secondary-color 1px solid;
  height: 100px;
  width: 100px;
}

// Resume

.resume-info {
  display: grid;
  grid-gap: 30px;
  justify-content: space-evenly;
  align-items: center;

  grid-template-areas:
    'education_title pro_skills_title'
    'education1 pro_skills'
    'education2 pro_skills'
    'projects_title soft_skills_title'
    'project1 soft_skills'
    'project2 honors_awards_title'
    'project3 award1';

  grid-template-columns: repeat(2, 1fr);

  .education-title {
    grid-area: education_title;
    font-size: 2rem;
    margin-top: 2rem;
    // margin: 1rem auto;
  }

  .education-1 {
    grid-area: education1;
  }

  .education-2 {
    grid-area: education2;
  }

  .education {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }

  .pro-skills-title {
    grid-area: pro_skills_title;
    margin: 1rem auto;
  }

  .pro-skills {
    grid-area: pro_skills;
    width: 60%;
    margin: 1rem auto;
    color: white;
  }

  .pro-skills li {
    margin: 1em 0;
    list-style: none;
  }

  .soft-skills-title {
    grid-area: soft_skills_title;
    margin: 1rem auto;
  }

  .soft-skills {
    grid-area: soft_skills;
    width: 60%;
    margin: 1rem auto;
    color: white;
  }

  .soft-skills li {
    margin: 1em 0;
    list-style: none;
  }

  .bar {
    background: rgba(lighten($primary-color, 2), 0.5);
    display: block;
    height: 1em;
    border: 1px $secondary-color solid;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: lighten($primary-color, 5);
  }

  .bar span {
    height: 1rem;
    float: left;
    background: #48cbec;
  }

  .skill-python {
    width: 90%;
    animation: skill-python 2s;
  }

  .skill-csharp {
    width: 85%;
    animation: skill-csharp 2s;
  }

  .skill-wpf {
    width: 80%;
    animation: skill-wpf 2s;
  }

  .skill-git {
    width: 70%;
    animation: skill-git 2s;
  }

  .skill-net {
    width: 75%;
    animation: skill-net 2s;
  }

  .skill-js {
    width: 80%;
    animation: skill-js 2s;
  }

  // Hexagon
  .hexagon {
    position: relative;
    width: 300px;
    height: 173.21px;
    background-color: #64c7cc;
    margin: 86.6px 0;
  }

  .hexagon:before,
  .hexagon:after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
  }

  .hexagon:before {
    bottom: 100%;
    border-bottom: 86.6px solid #64c7cc;
  }

  .hexagon:after {
    top: 100%;
    width: 0;
    border-top: 86.6px solid #64c7cc;
  }

  .projects-title {
    grid-area: projects_title;
    font-size: 4rem;
    margin: 1rm auto;
  }

  .honors-awards-title {
    grid-area: honors_awards_title;
    font-size: 4rem;
    margin: 1rm auto;
  }

  .project-1 {
    grid-area: project1;
  }

  .project-2 {
    grid-area: project2;
  }

  .project-3 {
    grid-area: project3;
  }

  .project {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }

  .award-1 {
    grid-area: award1;
  }

  .award-2 {
    grid-area: award2;
  }

  .award-3 {
    grid-area: award3;
  }

  .award {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

// Work/Projects
.projects {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    opacity: 0.5;
    border: 3px white solid;
    height: 150px;

    &:hover {
      opacity: 1;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;

  div {
    font-size: 2rem;
    border: 3px white solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  max-width: 30rem;
  font-size: 2rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: white;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

.content {
  min-height: calc(100vh - 70px);
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 50px;
}

@import 'mobile';
